@import "../../scss/variables";
@import "../../scss/mixins";

.badge {
    &-link {
        min-width: 35%;
    }

    
}

.badge-container {
    max-width: 100%;
   @include breakpoint-down(medium){
       margin-left: 2rem;
   }
}

.mainbadge{
    @include breakpoint-down(medium){
        max-width: 100%;
    }
}

.badgeStat{
    max-width: 50%;
    padding-bottom: 2.5rem;
    &-form {
        display: flex;
        min-width: 100%;
        margin-bottom: 1.5rem;
        @include breakpoint-down(medium){
            min-width: 80%;
        }
        
    }
    @include breakpoint-down(medium){
        max-width: 100%;
        p {
            font-size: 0.87rem;
        }
    }
}

.countStat {
    max-width: 50%;
    padding-bottom: 2rem;
    flex-direction: column;
    @include breakpoint-down(medium) {
        max-width: 100%;
        img {
            transform: scale(1.5);
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
    }
   

}